# History files
.Rproj.user
.Rhistory

# Session Data files
.RData
.Ruserdata

# knitr and R markdown default cache directories
/*_cache/
/cache/
*/index_cache/*

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.rmarkdown

# Raw data files
/post/*-raw.csv
/post/*-raw-data.csv
/post/policing-2010-2024/*.csv
/post/policing-2010-2024/*.xls
/post/policing-2010-2024/*.xlsx
/post/policing-2010-2024/*.ods

/.quarto/
